<h1>Contact_us</h1>

Your name is <%= @name %><br/>
Your email is <%= @email %><br/>
<% if flash['error'] %>
   <div class="error"> <%= flash['error'] %></div>
<% end %>
<!--
<pre>
  <% params.each do |key, value| #Debugging Only%>
     <%= key + " ==> " + value + "\n"%>
  <% end %>
</pre>
-->

<% if !@submitted || @form_error %>
  <% @email_error_msg %><br/>
  <%= form_for contact_us_path, :method => "POST" do %>
    <%= label_tag :name, "Enter your Full Name: " %>
    <%= text_field_tag :name, @name, :placeholder => "Enter your name", :autofocus => "autofocus" %><br/>
    <%= label_tag :email, "Enter your email address" %>
    <%= email_field_tag :email, @email, :placeholder => "something@domain.com", :required => true%><br/>
    <%= label_tag :question, "Enter your question" %><br/>
    <%= text_area_tag :question, @question, :size => "50x10", :placeholder => "Ask Us Something" %><br/>
    <%= check_box_tag :newsletter, "newsletter", @newsletter%>
    Subscribe to my newsletter <br/>

    <%= radio_button_tag :gender, "Male", @male %> Male <br/>
    <%= radio_button_tag :gender, "Female", @female %> Female<br/>
    <%= select_tag :product, options_for_select(
                                   [
                                           ['Skis', 1],
                                           ['Poles', 2],
                                           ['Boots', 3],
                                           ], @product) %>
    <br/>
    <%= submit_tag "Ask Question"%>

    <%end%>
  <% else %>
   Thanks for your information

<% end %>